/*--banner--*/
.banner{
	width: 100%;
    height: 700px;
    display: block;
    background: url(../images/banner.jpg)no-repeat right top;
	overflow-x:hidden;
}
.no-cssanimations .rw-wrapper .rw-sentence span:first-child{
	opacity: 1;
}
/*--banner--*/
.navbar-brand {
    font-size: 15px;
}
label.line{
 width:200px;
 height:2px;
 display:block;
 background: #cc77f6;
 border-radius:10px;
 margin: 0.2em auto;
}
/*--Produtos--*/
.mid-popular {
    padding-top: 0em;
}
.item-grid,.item-grid1 {
    padding: 1em 0.3em 0;
}
.mid-pop{
	position:relative;
    padding: 10px;
}
.mid-1 {
    padding-top: 0.5em;
}
.text-top {
    float: none;
}
.img {
    float: none;
    text-align: center;
    margin-top: 0.5em;
}
.item_add {
  color: #000;
  border:none;
}
.mid-2 {
    padding-top: 0.5em;
}
.mid-2 p{
	float:center;
	font-size:0.9em;
	color:#B4B4B4;
}
.mid-2 p em{
	font-style:normal;
}
.mid-2 p label{
	text-decoration: line-through;
	font-weight:400;
	margin-right:6px;
}
/*-footer-*/
.footer-middle{
	background: #13111f;
	padding:4em 0;
}
.footer-middle-in h6{
	font-size: 1.4em;
  color: #fff;
	margin-bottom: 1em;
  text-transform: uppercase;
}
.footer-middle-in  p{
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin-top: 1em;
}
.footer-middle-in  span{
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
}
.in{
	float:left;
}
.in1{
	float:right;
}

ul {
    padding: 0;
    margin: 0;
}

ul.in li{
	list-style:none;
}
ul.in li a{
	color:#B3B3B3;
	font-size:0.9em;
	text-decoration:none;
	padding:0 0 0.5em ;
	display:block;
}

ul.tag-in li{
	display:inline-block;
}
ul.tag-in li a{
	color:#B3B3B3;
	font-size: 0.9em;
    text-decoration: none;
    padding: 0.3em 0.7em;
    border: 1px solid #B3B3B3;
    display: block;
    margin-bottom: 0.6em;
    border-radius: 15px;
}
